<html>
  <body>
    <div id="main-container" class="container">
      <div class="row">
        <div class="col-xs-6">
          <h1>Awesome Weather<h1>
          <h2 class="lead">Get weather data with ease!</h2>
          <% flash.each do |name, msg| -%>
            <%= content_tag :div, msg, class: name %>
          <% end -%>
          <%= form_tag("weather/search", method: "get") do %>
            <div class="form-group">
              <%= label_tag(:country, 'Country', class: 'col-2 col-form-label') %>
              <%= text_field_tag(:country, '', class: 'form-control', placeholder: 'Please insert country') %>
            </div>
            <div class="form-group">
              <%= label_tag(:city, 'City', class: 'col-2 col-form-label') %>
              <%= text_field_tag(:city, '', class: 'form-control', placeholder: 'Please insert city') %>
            </div>
            <%= submit_tag('Search', class: 'btn btn-primary') %>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
